<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navegação Admin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/LoginECadastro.css') }}">
</head>
<body>
  <div class="wrapper">
    <div class="forms" id="forms">
      <!-- Navegação -->
      <div class="nav-container active" id="navBox">
        <h2>Navegação</h2>
        <div class="nav-buttons">
          <button class="nav-btn" id="btnPerfil">Perfil</button>
          <button class="nav-btn">Feedback</button>
          <button class="nav-btn">Cronograma</button>
          <button class="nav-btn">RH</button>
          <a href="https://jozevald.itch.io/secureup-treinamento-em-segurana-digital"><button class="nav-btn">SecureUp</button></a>
        </div>
      </div>

      <!-- Perfil -->
      <div class="profile-container" id="profileBox">
        <div class="profile-photo">Foto</div>
        <div class="profile-name">Nome do Usuário</div>
        <div class="profile-email">email@exemplo.com</div>
        <div class="profile-points">Pontuação: </div>
        <div class="profile-date">Aprendendo desde: <br> 27/11/2025</div>
        <button class="back-btn" id="btnVoltar"><</button>
      </div>
    </div>
  </div>

  <script>
    const forms = document.getElementById("forms");
    const navBox = document.getElementById("navBox");
    const profileBox = document.getElementById("profileBox");

    const btnPerfil = document.getElementById("btnPerfil");
    const btnVoltar = document.getElementById("btnVoltar");

    btnPerfil.addEventListener("click", () => {
      forms.style.transform = "translateX(-50%)";
      navBox.classList.remove("active");
      profileBox.classList.add("active");
    });

    btnVoltar.addEventListener("click", () => {
      forms.style.transform = "translateX(0%)";
      profileBox.classList.remove("active");
      navBox.classList.add("active");
    });
  </script>
</body>
</html>
